In [3]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [4]:
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"

In [12]:
df = pd.read_csv(DATA_URL + "adult.data.csv" )

In [13]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [15]:
# 1. How many men and women (sex feature) are represented in this dataset?
data["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [16]:
# 2. What is the average age (age feature) of women?
df[df["sex"] == "Female"]["age"].mean()

np.float64(36.85823043357163)

In [25]:
# 3. What is the percentage of German citizens (native-country feature)?
df[df["native-country"] == "Germany"].shape[0] / df.shape[0] * 100

0.42074874850281013

In [28]:
# 4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?
# df["age"].describe()
df[df["salary"] == ">50K"]["age"].describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [29]:
df[df["salary"] == "<=50K"]["age"].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

In [36]:
# 6. Is it true that people who earn more than 50K have at least high school education? 
df["education"].unique()
edu = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
df[df["salary"] == ">50K"]["education"].isin(edu).describe()

count     7841
unique       2
top       True
freq      4535
Name: education, dtype: object

In [38]:
df[df["salary"] == "<=50K"]["education"].isin(edu).describe()

count     24720
unique        2
top       False
freq      18739
Name: education, dtype: object

In [39]:
higher_education = df["education"].isin(edu)
df["higher_education"] = higher_education

In [42]:
pd.crosstab(df["higher_education"], df["salary"], normalize=True)

salary               <=50K      >50K
higher_education
False             0.575504  0.101533
True              0.183686  0.139277

In [108]:
# 7. Display age statistics for each race (race feature) and each gender (sex feature). 
# Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.


# Find the maximum age of men of Amer-Indian-Eskimo race
df.groupby(["race", "sex"])["age"].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [ ]:
df[df["race"] == "Amer-Indian-Eskimo"]["age"].max()

In [81]:
# 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men 
# (marital-status feature)? Consider as married those who have a marital-status starting with 
# Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

married = ["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"]
df["is_married"] = df["marital-status"].isin(married)
males_df = df[(df["sex"] == "Male") & (df["salary"] == ">50K")]

males_df["is_married"].value_counts("normalize=True")

is_married
True     0.895377
False    0.104623
Name: proportion, dtype: float64

In [82]:
# 9. What is the maximum number of hours a person works per week (hours-per-week feature)? 
# How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K)
#  among them?

df["hours-per-week"].max()

np.int64(99)

In [85]:
num_max_hrs = df[df["hours-per-week"] == 99].shape[0]

In [89]:
(num_max_hrs / df.shape[0]) * 100

0.261048493596634

In [105]:
# 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary)
#  for each country (native-country). What will these be for Japan?

df.pivot_table(
    values="hours-per-week",
    index=["native-country", "salary"],
    aggfunc="mean"
)

df_jp = df[df["native-country"] == "Japan"]
df_jp.pivot_table(
    values="hours-per-week",
    index=["native-country", "salary"],
    aggfunc="mean"
)

                       hours-per-week
native-country salary
Japan          <=50K        41.000000
               >50K         47.958333